#  Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [3]:
values = input("Enter the value: ")
list = values.split(",")
print(list)
tp = tuple(list)
print(tp)

Enter the value: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# With a given tuple, Write a program to print the first half values in one line and the last half values in one line.

Sample Input : (1,2,3,4,5,6,7,8,9,10, 11) Expected output : (1,2,3,4,5) (6,7,8,9,10)

In [3]:
tuple = (1,2,3,4,5,6,7,8,9,10,11)
tp1 = tuple[:5]
tp2 = tuple[5:10]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Write a program to generate and print another tuple whose values are even numbers in the given tuple

Sample Input : (1,2,3,4,5,6,7,8,9,10)
Expected Output : (2, 4, 6, 8, 10)

In [5]:
Tuple1 = (1,2,3,4,5,6,7,8,9,10)
print(Tuple1[1:10:2])

(2, 4, 6, 8, 10)

#  With two given lists, write a program to make a list, whose elements are intersection of the above given lists.

Sample inputs : [12,3,6,88,35,55] [12,24,35,24,88,120,155]

Expected output : [12,88,35]

In [12]:
List1 = [12,3,6,88,35,55]
List2 = [12,24,35,24,88,120,155]

a = set(List1)
b = set(List2)

# value = (a & b)
# print(value)

# to compute the intersected list. intersection() is a first-class part of set.
value  = ( a.intersection(b))
print(value)

{88, 35, 12}

In [28]:
List1 = [12,3,6,88,35,55]
List2 = [12,24,35,24,88,120,155]

lst3 = [value for value in List1
        if value in List2]
print(lst3)

[12, 88, 35]

# With a given list, write a program to print this list after removing all duplicate values with original order reserved.

Sample Input : [12,24,35,24,88,155,88,120,155] Expected output : [12, 24, 35, 88, 155, 120]

In [37]:
List3 = [12,24,35,24,88,155,88,120,155]

#convert list to Set
lst = set(List3)
#print(lst)
# Convert to Set to List
st = list(lst)
print("Removing all the duplicates values and with original order reversed: ",sorted(st))

Removing all the duplicates values and with original order reversed:  [12, 24, 35, 88, 120, 155]